<!-- <mat-form-field class='demo-full-width form-group mb-1rem' [formGroup]='group'>
    <input matInput [formControlName]='field.name' [placeholder]='field.label | translate' [type]='field.inputType'>
    <ng-container *ngFor='let validation of field.validations;' ngProjectAs='mat-error'>
        <mat-error *ngIf='group.get(field.name).hasError(validation.name)'>{{validation.message}}</mat-error>
    </ng-container>
</mat-form-field> -->

<div class='demo-full-width form-group mb-1rem' [formGroup]='group'>
    <label class="form-lbl" for="{{field.name}}">{{ field.label | translate }}</label>
    <input [formControlName]='field.name' [placeholder]='field.label | translate' [type]='field.inputType'>
    <ng-container *ngFor='let validation of field.validations;'>
        <p class="error-msg" *ngIf='group.get(field.name).hasError(validation.name)'>{{validation.message}}</p>
    </ng-container>
</div>