<!-- <mat-form-field class='demo-full-width form-group mb-1rem margin-top' [formGroup]='group'>
    <mat-select [placeholder]='field.label | translate' [formControlName]='field.name'>
        <mat-option *ngFor='let item of field.options' [value]='item'>{{item}}</mat-option>
    </mat-select>
</mat-form-field> -->
<div class='demo-full-width form-group mb-1rem' [formGroup]='group'>
    <label class="form-lbl" for="{{field.name}}">{{ field.label | translate }}</label>
    <select [formControlName]='field.name'>
        <option *ngFor='let item of field.options' [value]='item'>{{item}}</option>
    </select>
</div>