<!-- <div class="form">
    <div style="text-align:center">
        <h1>
            Registration Form
        </h1>
    </div>
    <dynamic-form [fields]="regConfig" (submit)="submit($event)">
    </dynamic-form>
    <div class="margin-top">
        {{ form.value | json }}
    </div>
</div> -->
<form class='dynamic-form' [formGroup]='mainForm' (submit)='submit()'>
    <mat-tab-group>
        <mat-tab [label]="tab.tabTitle | translate" *ngFor="let tab of materialConfig.tabs">
            <div formArrayName="{{tab['tblName']}}">
                <app-section [tabConfig]='tab' [tabData]="materialObj[tab['tblName']]" [masterData]="masterData"
                    [pageType]="pageType" [mainFromGroupObj]="mainForm">
                </app-section>
            </div>
        </mat-tab>
    </mat-tab-group>
    <hr>
    <button type='submit' mat-raised-button color='primary' style="margin-left: 20px;margin-top: 20px;">Save</button>
</form>