/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.demo-full-width {
  width: 100%;
}

.margin-left {
  margin-left: 10px;
}

.radio-label-padding {
  padding-right: 10px;
  color: grey;
}

.form {
  margin-left: 10px;
  border: 2px solid lightgray;
  width: 600px;
  padding-left: 5px;
  margin-top: 10px;
}

.mat-tab-body-content{
    padding: 20px;
}

.mat-tab-label-active,
.mat-tab-label:hover {
  /* background: #1698D4; */
  /* border-color: #1698D4; */
  color: #3f51b5;
  opacity: 1 !important;
}
/* .mat-tab-label:hover {
  opacity: 0.5 !important;
} */

.mb-1rem{
  margin-bottom: 1rem !important;
}

.form-lbl {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  display: inline-block;
  margin-right: 15px;
  min-width: 100px;
}

.readonly-value {
  background: #ddd;
  font-size: 12px;
  padding: 5px;
  min-width: 100px;
  display: inline-block;
  vertical-align: middle;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
}

.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 0;
  padding-left: 0;
}

.error-msg {
  font-size: 12px;
  color: red;
  margin: 5px 0;
  margin-left: 115px;
}

table {
  border-spacing: 0;
}

table th {
  font-size: 16px;
  font-weight: 500;
  background: #ccc;
  padding: 10px;
}

table td {
  font-size: 14px;
  padding: 10px;
  border: 1px solid #ccc;
}
