<form class='dynamic-form' (submit)='onSubmit($event)'>
    <ng-container *ngFor='let field_row of fields;'>
        <div class="row">
            <div class="col-4" *ngFor='let field of field_row;'>
                <ng-container *ngIf="field.type !== 'blank'">
                    <ng-container
                        *ngIf="(field.type === 'button') || (pageType !== 0 && field.isEditable); else elseBlock"
                        dynamicField [field]='field' [group]='form'>
                    </ng-container>
                    <ng-template #elseBlock>
                        <div class="form-group mb-1rem">
                            <span class="form-lbl">{{field.label | translate}}</span>
                            <span class="readonly-value">{{field.value}}</span>
                        </div>
                    </ng-template>
                </ng-container>
            </div>
        </div>
    </ng-container>
</form>