<button (click)="addNew()" mat-raised-button color='primary' class="mb-1rem" type="button" *ngIf="!showForm && pageType !== 0">Add New Record</button>

<table class="table mb-1rem" *ngIf="!showForm">
    <thead>
        <tr>
            <th *ngFor="let column of section.fields[0]">
                {{column.label | translate}}
            </th>
            <th *ngIf="pageType !== 0">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rowData of tableRecords; let i = index">
            <td *ngFor="let column of section.fields[0]">
                {{ rowData[column.valueKey] }}
            </td>
            <td *ngIf="pageType !== 0"><a href="javascript:void(0)" (click)="editRecord(i)">Edit</a></td>
        </tr>
    </tbody>
</table>

<ng-container *ngIf="showForm">
    <dynamic-form [fields]="section.fields"  [masterData]="masterData"
        [pageType]="pageType" [tblName]="tblName" [fromGroupObj]="fromGroupObj" (submit)="submit($event)">
    </dynamic-form>
</ng-container>