.section_wrapper {
    display: flex;
    flex-flow: column;
}

.section_wrapper .section{
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
.section_wrapper .section:last-child{
    margin-bottom: 0;
}

.section_wrapper .section_header {
  background: #ccc;
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
}

.section_wrapper .section_body {
  padding: 20px;
}