<ng-container *ngIf="tabConfig.tabView === 'SECTION'">
    <div class="section_wrapper">
        <div class="section" *ngFor="let section of tabConfig.sections">
            <div class="section_header">
                <span>{{ section.sectionTitle | translate }}</span>
            </div>
            <div class="section_body">
                <dynamic-form [fields]="section.fields" [fieldValue]="tabData" *ngIf="tabData" [masterData]="masterData"
                    [pageType]="pageType" [tblName]="tabConfig.tblName" [fromGroupObj]="fromGroupObj">
                </dynamic-form>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="tabConfig.tabView === 'TABLE'">
    <div *ngFor="let section of tabConfig.sections">
        <app-dynamic-table [section]="section" [tableRecords]="tabData" [masterData]="masterData"
            [pageType]="pageType" [tblName]="tabConfig.tblName" [mainFromGroupObj]="mainFromGroupObj">

        </app-dynamic-table>
    </div>
</ng-container>